body       {
    text-align: center;
    color:#130f08;
}

.wrapper    {
    width: 90%;
    margin: 0px auto 0px auto;
}

.jumbotron  {
    text-align: left;
    background: #f6b60b;
    padding-left: 3rem;
}

.jumbotron h1 {
    font-family: 'Mr Bedfort', cursive;
}

.game-stats {
    font-family: 'Voltaire', sans-serif;
    font-size: 1.5rem;
}

#game-result {
    font-weight: bold;
}

.btn-primary {
    background: #1d5259;
    border: #518b74;
}